* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #2b283a;
}
#root {
  margin: 0;
  padding: 0;
}

.card--container {
  /* box-shadow: #cfdcf0; */
  padding: 44px 117px;
  width: 550px;
  height: 100hv;
  margin: 0 auto;
  text-align: center;
  background: #23252c;
}
.card--container > .card {
  border-radius: 10px;
  width: 320px;
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 0;
}

.section--info > .card--image {
  width: 317px;
  /* display: cover; */
  height: 317px;
  border-radius: 10px 10px 0px 0px;
  background: #f5f5f5;
  margin-bottom: 20px;
}
.section--info > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #2b283a;
  margin-bottom: 6px;
}
.section--info > h5 {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f47d27;
  margin-bottom: 9px;
}
.section--info > h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #4a4e74;
  margin-bottom: 17px;
}

.section--info > .button-group {
  display: flex;
  justify-content: space-between;
  margin: 5px 35px;
}
.section--info button {
  border-radius: 8px;
  padding: 9px 25px 9px 28px;
}
.btn-mail {
  border: gray;
  margin-right: 8px;
  background-color: #d1d5db;
}

.btn-linkedin {
  border: gray;
  background: #5093e2;
  color: #ffffff;
  font-size: 14px;
}

.card > .card--content {
  margin: 25px 35px;
  text-align: left;
}

.card--content > .section--about {
  margin-bottom: 20px;
}

.section--about > h4 {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* color: #2b283a; */
  margin-bottom: 5px;
}

.section--about > p {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 400;
  /* font-size: 1px; */
  line-height: 150%;

  /* or 15px */

  color: #2b283a;
}

.section--skills > h4 {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* color: #2b283a; */
  margin-bottom: 5px;
}

.section--skills > ul {
  /* font-family: 'Inter'; */
  padding-left: 1rem;
  color: #4a4e74;
}

.card > .section--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 72px;
  width: 317px;
  background: #d5d4d8;
  margin-bottom: 0px;
  border-radius: 0 0 10px 10px;
}
